img{
    height: 50%auto;
    display: block;
    margin: auto;
    width: 40%;
}

.endOfGame {
    background-image: url("img/galaxy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
     color: white;
}

.index{
  background-image: url("img/4191394-cool-3d-wallpapers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   color: white;
}

.page2{
  background-image: url("img/Sunrise.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   color: white;
}
.page3{
  background-image: url("img/horseLand.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.page1{
  background-image: url("img/nuclearBomb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}

p span{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    background-color:black;
    opacity:0.8;
    color: white;

}

li span{
  background-color:black;
  font-size: 20px;
  opacity:0.8;
  color: white;


}

a:link, a:visited{
  color: white;
  text-decoration: none;
}

ul{
  padding:0;
}
li{
  padding:0.15em 0 0.5em 1.5em;
  margin-bottom:0.2em;
  text-indent:0.4em;
  font-weight:bold;
  list-style:none;
  background-repeat:no-repeat;
  background-image:url(http://icons.iconarchive.com/icons/icons8/windows-8/512/Astrology-Year-Of-Pig-icon.png);
  background-size: 25px;
}

li:hover {
  transform: scale(1.05, 1.05);
  transition: 1s ease;
    }
