.FirstWrapper {
  animation: colorchange 10s;
  -webkit-animation: colorchange 0.5s;
  animation-iteration-count: infinite;
}
.a {
  font-size: 24px;
  text-decoration: none;
  color: black;
  text-align: center;
  animation: colorchange 10s;
  -webkit-animation: colorchange 1s;
  animation-iteration-count: infinite;
}
.MainPic {
  display: block;
  background-position: center;
  height: 350px;
  padding-bottom: 20px;
}
@keyframes colorchange {
  0% {
    background: #337CA0;
  }
  25% {
    background: #0081C1;
  }
  5+% {
    background: #30BAFF;
  }
  75% {
    background: #14B0FF:
  }
  100% {
    background: #0095E0;
  }
}
@-webkit-keyframes colorchange {
  /* Safari and Chrome - necessary duplicate */
  0% {
    background: #EFA390;
  }
  15% {
    background: #ED9680;
  }
  30% {
    background: #EB8970;
  }
  45% {
    background: #E97C60;
  }
  60% {
    background: #E76F51;
  }
  75% {
    background: #E97C60;
  }
  90% {
    background: #EB8970;
  }
  99% {
    background: #ED9680;
  }
  100% {
    background: #EFA390;
  }
}
