img {
  width: 400px;
  padding: 1px;
  border: 3px solid;
  border-color: white;
}
h2 {
  font-family: Verdana;
  padding-left: 150px;
  padding-right: 150px;
}
body {
  background: url("http://pos.jungheemun.com/images/night_sky_animated_by_toxtheerisian-d4gh9ct.gif") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: gold;
}
h1 {
  background-color: white;
  color: black;
  padding: 14px 25px;
  font-family: Verdana;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}
h2 {
  color: white;
}
h3 {
  font-family: Verdana;
  color: white;
  font-size: 15px;
  padding-left: 100px;
  padding-right: 100px;
}
p {
  color: white;
  font-family: Verdana;
  padding-left: 100px;
  padding-right: 100px;
}
a:link,
a:visited {
  background-color: gold;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Verdana;
  border-radius: 10px;
}
a:hover,
a:active {
  background-color: white;
  color: black;
  font-family: Verdana;
}
.test {
  opacity: 0;
  text-align: center;
  animation: fadein 3s;
  animation-fill-mode: forwards;
}
.test2 {
  opacity: 0;
  text-align: center;
  animation: fadein 3s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.test3 {
  opacity: 0;
  text-align: center;
  animation: fadein 3s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#bildhover {
  transition: transform 0.5s ease, background-color 1s ease;
}
#bildhover:hover {
  transform: scale(2);
  z-index: 2;
}
.shell {
  height: 100px;
  background-color: #8799db;
  display: flex;
  justify-content: center;
}
.piece {
  background-color: #efef8f;
  width: 150px;
}
