* {
	margin: 0;
}

h1 {
	font-family: "Arial", Sans-serif;
	text-transform: Uppercase;
	font-size: 72px;
	color: white;
	text-shadow: 2px 2px 16px black; 
}

p {
	color: white;
	line-height: 25px;
}

body {
	background-color: black;
}

.header {
	background-image: url(https://goo.gl/n4v3fd);
	background-size: 100%;
    background-repeat: no-repeat;
	padding-top:200px;
	padding-bottom:200px;
	margin-bottom: 20px;
}

.container {
	width: 100%;
    margin: 0 auto;
    text-align: center;
}

li {
	list-style: none;
	width: 97%;
    margin-top:20px;
}

a {
	color: white;
}

a:hover {
	color: grey;
}