

#wrapper{
    text-align: center;
    background: azure;
    outline-color: black;
}
header h1{

    border-style: dashed;
    border-color: black;
    font-family: "Comic Sans MS";
    display: inline-block;

}

main p{
    font-family: fantasy;
}
@keyframes rollaround {
    from {
        transform: rotate(0deg);
    } to {
          transform: rotate(360deg);
      }
    
}
img{

    animation-name: rollaround;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}

ul{
    border-style:solid;
    background-color: crimson;
    font-family: "sans-serif";

    display: inline-block;
}