body {
  background-image: url(numbers.jpg);
  background-repeat: no-repeat;
   background-size: cover;
}

h1 {
  color: white;
  text-shadow: 2px 2px 16px black;
  text-align: center;
  font-size: 200px;
  font-family: sans-serif;
  padding-top: 200px;
}
