#scriptbox{
     margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

#maintext{
   text-align: center;
   color: white; 
}

#endpic{
    width: 80%;
    padding: 50px;
}
body{
    background-color: black;
}
li{
    text-align: center;
}
#mainpic{
     margin: auto;
    width: 100%;
    height: 60%;
    padding: 10px;
}